@font-face {
    font-family: 'FireSans';
    src: url('other/fonts/FiraSans-Regular.ttf');
}

#root, html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'FireSans',sans-serif !important;
    background-color: #f7fcff;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
}

.app-container {
    position: relative;
    min-height: 90vh;
}

.app-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
}
.app-header__submit-button {
    margin-left: 10px;
}
.app-header__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}
.app-header__logo {
    max-height: 40px;
}

.app-container__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 40px auto 20px;
    max-width: 1200px;
}

.app-container__footer-info {
    width: 100%;
}
.app-container__footer-proverb {
    float: right;
}

.app-container__feedback {
    position: fixed;
    bottom: 0;
    left: -5px;
}

.app-header__content-right {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .app-container__footer,
    .app-header__content {
        padding: 20px;
    }
}

.country-dropdown-overlay {
    max-height: 400px;
    overflow-y: auto;
}

/* ANT */
.ant-typography {
    margin-bottom: 0 !important;
}
/* ANT */

/* nProgress bar */
#nprogress {
    pointer-events: none;
}
#nprogress .bar {
    background: #1890ff;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
}
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}
/* nProgress bar */

/* JS EDITOR */
.ce-block__content,
.ce-toolbar__content {
    max-width: 92%;
}
/* END OF JS EDITOR */
