.aboutContainer {
    margin: 50px auto 0;
    max-width: 800px;
}

.aboutContainer article {
    font-size: 20px;
}

.about__contentText {
    margin: 20px 0 60px !important;
}

.about__imageCategories {
    width: 100%;
    padding: 20px 0;
}
.about__imageFilters {
    width: 100%;
    padding: 20px 0;
}
.about__imageSearch {
    width: 100%;
    padding: 20px 0;
}
.about__action {
    margin: 40px 0;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .aboutContainer {
        padding: 0 20px;
    }
}
