.categoryItem {
    display: inline-block;
    box-shadow: rgba(214, 235, 254, 0.6) 0 8px 24px;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 10px;
    width: 180px;
    min-width: 136px;
}


@media only screen and (max-width: 768px) {
    .categoryItem {
        width: auto;
    }
}

.categoryItem:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.categoryItem__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
}
.categoryItem__image,
.categoryItem__imageContainer {
    width: 70px;
}
.categoryItem__imageContainer {
    margin-bottom: 10px;
}
.categoryItem__categoryName {
    font-size: 14px;
}
