.categoryHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}
.categoryHeader__category {
    font-size: 90px;
    color: #198ffc;
}
.categoryHeader h1.categoryHeader__headline {
    margin-top: 0;
}

.categoryHeader__left {
    max-width: 600px;
}

.categoryHeader__imageImg {
    width: 450px;
    transform: rotate(3deg);
}
.categoryHeader__image {
    float: right;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .categoryHeader {
        flex-direction: column-reverse;
        text-align: center;
        padding: 0 20px;
    }
    .categoryHeader__image {
        margin-bottom: 20px;
    }
    .categoryHeader__imageImg {
        width: 200px;
    }
    .categoryHeader__category {
        font-size: 50px;
    }
}
