.categories {
    margin-bottom: 80px;
}
.categories__items {
    margin: 20px -1px 0;
}

@media only screen and (max-width: 768px) {
    .categories {
        padding: 0 10px;
    }
    .categories__items {
        margin: 20px -10px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
