.companySpotlightItem__imageContainer {
    width: 100px;
    max-height: 100px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: auto;
}

.companySpotlightItem__imageContainer img {
    width: 96%;
}

.companySpotlight {
    margin-bottom: 80px;
}

.companySpotlight__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.companySpotlightItem {
    width: 150px;
    height: 180px;
    text-align: center;
    display: flex;
    background-color: #ffffff;
    box-shadow: rgba(214, 235, 254, 0.6) 0 8px 24px;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.companySpotlightItem:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

@media only screen and (max-width: 768px) {
    .companySpotlight {
        margin-bottom: 40px;
        padding: 0 20px;
    }
    .companySpotlight__items {
        display: grid;
        grid-template-rows: 104px 104px;
        grid-template-columns: 104px 104px 104px;
    }
    .companySpotlightItem {
        width: 80px;
        height: 80px;
        padding: 0;
        display: flex;
        margin: 12px;
        align-items: center;
        justify-content: center;
    }
    .companySpotlightItem__imageContainer {
        width: 80px;
        max-height: 80px;
        margin: 0;
    }
    .companySpotlightItem__name {
        display: none;
    }
}


@media only screen and (max-width: 368px) {
    .companySpotlight {
        display: none;
    }
}
