.companyHeader {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
    margin-top: 40px;
}

.companyHeader__imageContainer {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: rgba(214, 235, 254, 0.6) 0 8px 24px;
    position: relative;
}
.companyHeader__name {
    font-size: 50px;
    color: #198ffc;
    margin-bottom: 20px;
}

.companyHeader__description {
    font-size: 16px;
    white-space: pre-line;
}

@media only screen and (max-width: 768px) {
    .companyHeader {
        padding: 0 20px;
        margin-bottom: 40px;
    }
}
