.countryKeywordHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}
.countryKeywordHeader__category {
    font-size: 90px;
    color: #198ffc;
}
.countryKeywordHeader h1.categoryHeader__headline {
    margin-top: 0;
}

.countryKeywordHeader__imageImg {
    width: 450px;
    transform: rotate(3deg);
}
.countryKeywordHeader__image {
    float: right;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .countryKeywordHeader {
        flex-direction: column-reverse;
        text-align: center;
        padding: 0 20px;
    }
    .countryKeywordHeader__image {
        margin-bottom: 20px;
    }
    .countryKeywordHeader__imageImg {
        width: 200px;
    }
    .countryKeywordHeader__category {
        font-size: 50px;
    }
}
