.indexContainer__latest {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 42px;
}

.indexContainer__latestTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.indexContainer__filterIcon {
    display: none;
}

@media only screen and (max-width: 1120px) {
    .indexContainer__latest {
        flex-direction: column;
    }

    .indexContainer__filterIcon {
        display: block;
    }

    .indexContainer__latestTitle {
        width: 100%;
        padding: 0 20px;
    }

    .indexContainer__filters {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.15s ease-out;
    }

    .indexContainer__filtersVisible {
        max-height: 220px;
        transition: max-height 0.25s ease-in;
    }
}
