.jobsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;

    max-width: 1200px;
    margin: 0 auto 30px;
}

.jobsListEmpty {
    margin: 100px 0;
}

@media only screen and (max-width: 768px) {
    .jobsList {
        padding: 0 10px;
    }
}
