.jobCard {
    box-shadow: rgba(214, 235, 254, 0.6) 0 8px 24px;
    padding: 20px;
    height: 100%;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #ffffff;
}
.jobCard:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.jobCard__header {
    display: flex;
    margin-bottom: 15px;
    min-height: 72px;
}
.jobCard__headerImage {
    margin-right: 15px;
    width: 80px;
    max-height: 80px;
    min-height: 80px;
    display: flex;
    align-items: center;
    flex: 0 0 80px;
    overflow: hidden;
}
.jobCard__headerImage img {
    width: 100%;
}
.jobCard__headerJob {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.jobCard__headerCompany {
    color: #666a79;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px;
}
.jobCard__headerTitle {
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.jobCard__metaRow {
    margin-bottom: 5px;
}
.jobCard__metaItem {
    display: inline-block;
    color: #666a79;
    margin-right: 20px;
}
.jobCard__metaItem .anticon {
    margin-right: 5px;
}
.jobCard__metaCountry {
    text-transform: uppercase;
}
.jobCard__keywords {
    margin-top: 20px;
}
.jobCard__keywordsTag {
    margin-bottom: 8px;
    background: #f2f9ff;
    border: 1px solid #d6ebfe;
    cursor: pointer;
}
