.jobDetails {
    display: flex;
    max-width: 1200px;
    margin: 60px auto 30px;
}
.jobDetails__right {
    margin-left: 10px;
    width: 400px;
    min-height: 150px;
    min-width: 350px;
}
.jobDetails__company {
    margin-bottom: 20px;
    background-color: #d9e8f5;
    padding: 20px;
}
.jobDetails__companyHeader {
    display: flex;
    align-items: flex-start;
}
.jobDetails__companyHeaderImage {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.jobDetails__companyHeaderImage img {
    width: 100%;
}

.jobDetails__job {
    margin-right: 40px;
    width: 70%
}
.jobDetails__jobDate {
    margin-top: 10px;
}
.jobDetails__jobApply {
    margin-top: 40px;
}
.jobDetails__keywords {
    margin-top: 10px;
}
.jobDetails__tags {
    margin: 20px 0;
}
.jobDetails__tagsTag {
    margin-bottom: 8px;
    font-size: 14px;
    padding: 7px 7px 5px;
}
.jobDetails__salary {
    margin: 20px 0;
}
.jobDetails__companyDescription {
    margin-top: 20px;
    white-space: pre-line;
}

.jobDetails__jobApplicationDetails {
    padding: 20px;
    background-color: #d9e8f5;
    margin-bottom: 10px;
    white-space: pre-line;
}

@media only screen and (max-width: 768px) {
    .jobDetails {
        flex-direction: column;
        padding: 0 20px;
    }
    .jobDetails__job {
        margin-right: auto;
        width: 100%;
    }
    .jobDetails__job h1.ant-typography, .ant-typography h1 {
        font-size: 25px;
    }
    .jobDetails__tagsTag {
        white-space: pre-line;
    }
    .jobDetails__right {
        width: auto;
        min-width: auto;
        margin-left: auto;
        margin-top: 50px;
    }
}
