.jobFilters {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.jobFilters__filter {
    margin-left: 20px;
    border: 1px solid rgba(149, 157, 165, 0.2);
}

.jobFilters__filterEmploymentType {
    background-color: #ffffff;
    width: 250px;
}
.jobFilters__filterCountry {
    background-color: #ffffff;
    width: 250px;
}
.jobFilters__filterRoles {
    background-color: #ffffff;
    width: 175px;
}

@media only screen and (max-width: 768px) {
    .jobFilters {
        flex-direction: column;
        margin-top: 20px;
    }

    .jobFilters__filter {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .jobFilters__filterRoles,
    .jobFilters__filterCountry,
    .jobFilters__filterEmploymentType {
        width: 100%;
    }
}
