.landingHeader {
    margin-bottom: 50px;
    overflow: hidden;
    display: block;
    position: relative;
    background-color: rgba(214, 235, 254, 0.6);
    border-bottom: 1px solid #b0dbff;
}
.landingHeader__content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.landingHeader__topContent {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}
.landingHeader__logo {
    max-height: 40px;
}
.landingHeader__imageImg {
    width: 450px;
    transform: rotate(3deg);
}
.landingHeader__image {
    float: right;
    margin-top: 20px;
}

.landingHeader__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 50px;
}

.landingHeader h1.landingHeader__headline {
    margin-top: 0;
    font-size: 4.5em;
}

.landingHeader__actions {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.landingHeader__actionBrowse {
    line-height: 60px !important;
    height: 60px;
    min-width: 200px;
    font-size: 20px;
}
.landingHeader__actionHiring {
    margin-left: 40px;
    font-size: 18px;
}

.landingHeader__search {
    margin-top: 50px;
}

.landingHeader__search button,
.landingHeader__search input {
    height: 50px !important;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .landingHeader__main {
        padding: 0 20px;
        flex-direction: column-reverse;
        text-align: center;
        margin: auto auto 50px;
    }
    .landingHeader h1.landingHeader__headline {
        margin-top: 40px;
    }
    .landingHeader__imageImg {
        width: 200px;
    }
    .landingHeader__topContent {
        padding: 20px 30px 20px 20px;
    }
    .landingHeader__actions {
        flex-direction: column;
    }
    .landingHeader__actionHiring {
        margin-left: 0;
        margin-top: 20px;
    }
}
