.menu__action {
    margin-left: 40px;
}
.menu__mobile {
    display: none;
}
.menu__about {
    padding: 0 15px;
    color: rgba(0,0,0,.85);
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    .menu__mobile {
        display: block;
    }
    .menu__default {
        display: none;
    }
}
