.postJob {
    margin: 20px auto 0;
    max-width: 1200px;
}

.postJobForm {
    margin: 20px 0;
}

.postJobForm__remoteFormItem,
.postJobForm__employmentTypeFormItem {
    margin-bottom: 0;
}

.postJobForm__container {
    display: flex;
    flex-direction: row;
}
.postJobForm__right {
    width: 400px;
    min-width: 380px;
    margin-left: 40px;
}
.jobCardPreview .jobCard {
    height: auto;
    margin-bottom: 40px;
}
.jobCardPreview h2 {
    margin-bottom: 10px !important;
}

.postJobForm__card {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    padding: 20px;
    width: 100%;
    margin-bottom: 60px;
    border-radius: 3px;
    background-color: #ffffff;
}

.postJobForm__card .postJobForm__cardHeader {
    margin-bottom: 20px !important;
}

.postJobForm__cardAdditionalActions button {
    margin-bottom: 10px;
}

.postJobHeader {
    margin-bottom: 40px;
}

.postJobHeader__content {
    display: flex;
    justify-content: space-between;
}

.postJobHeader__contentRight {
    max-width: 380px;
    border: 1px solid #cfe5fb;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .postJob {
        padding: 0 20px;
    }

    .postJobForm__container {
        flex-direction: column;
    }

    .postJobForm__right .postJobForm__card {
        display: none;
    }

    .postJobForm__right {
        width: auto;
        min-width: auto;
        margin-left: 0;
    }

    .postJobHeader__content {
        flex-direction: column;
    }
    .postJobHeader__content--right {
        margin-top: 20px;
    }
}
