.searchContainer {
    margin: 20px auto 0;
    max-width: 1200px;
}

.searchContainer__header {
    margin: 40px 0 40px;
}

.searchContainer__headerQuery {
    color: #1890ff;
    font-style: italic;
}

.searchContainer__algoliaLogo {
    width: 100px;
}

.searchContainer__headerTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

@media only screen and (max-width: 1120px) {
    .searchContainer__header {
        padding: 0 20px;
        text-align: center;
    }
    .searchContainer__headerTitle {
        flex-direction: column;
    }

    .searchContainer__headerSearch {
        margin: 20px 0;
    }
}
